.hero-centered-large{
    background-color: white;
    margin: 0 !important;
    padding-top: 10% !important;
    padding-bottom: 5px !important;
}
.hero-centered-large h1{
    font-family: "Abril Fatface", times, serif;
    font-size: 70px;
    font-weight: 500;
    line-height: 70px;
    margin-bottom: 30px;
}
.hero-para-style{
    font-size: 18px !important;
}

@media (max-width: 900px){
    .hero-centered-large h1{
        font-size: 40px;
        line-height: 40px;
    }
}
@media (max-width: 400px){
    .hero-centered-large h1{
        font-size: 30px;
        line-height: 40px;
    }
}