.asymm-card-cont{
    display: flex;
    gap: 20px;
    width: 100%;
    height: fit-content;
}
.first-div{
width: 40%;

}
.second-div{
width: 60%;
text-align: start;
}
.asymm-img{
    width: 100%;
}
.date-heading{
    color: rgb(173, 181, 189);
    font-family: "Mukta Mahee", arial, sans-serif;
    font-size: 12px;
    letter-spacing: 0.65px;
    line-height: 16.4px;
    text-transform: uppercase;
}
.topic-heading{
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-family: "Abril Fatface", times, serif;
    font-size: 18px;
    font-weight: bolder;
    height: 76.75px;
    line-height: 19.2px;
    padding-bottom: 10px;
}